
h1 {
  font-size: 48px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 27px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  font-size: 31px;
  text-align: center;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

p {
  font-size: 26px;
  text-align: center;
  font-weight: normal;
  line-height: 0;
  font-family: "Indie Flower", cursive;
}

#title {
  line-height: 2;
}

ul {
  font-size: 16px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  font-size: 16px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Source Sans Pro", sans-serif;
}

.responsive {
  width: 60%;
  height: auto;
}

.padding {
  padding: 100px 15px 50px 1px;
}

.youtubecentered {
  padding: 1px;
}

.centerfooterimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40%;
}

.img-div {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1%;
}
