@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
    background-color: #000c19;
}

.header {
    font-size: 36px;
    text-align: center;
    position: relative;
    color: orangered;
}

h1, h2, .header2 {
    font-size: 28px;
    text-align: left;
    position: relative;
    color:orangered;
}

ol, ul, li, p {
    font-size: 16px;
    text-align: left;
    position: relative;
    color: orangered;
    font-family: 'Fira Code', monospace;
}

code {
    font-size: 12px;
    text-align: left;
    position: relative;
    color: white;
    font-family: 'Fira Code', monospace;
}

hr {
    color: orangered;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: orangered;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: orangered;
  /* color: #4d4e53; */
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

